.sectionHead {
  font-size: 35px;
  text-align: center;
}

.myinspirations {
  background-image: url("/about-me-page/inspirationsBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;

  padding-block: 2rem;
  margin-bottom: 2rem;
}

.inspirationCard {
  background-color: white;
  width: 25%;
  /* height: 100%; */
  border-radius: 0.8rem;
  min-width: 280px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.quote {
  width: "50%";
}
